<div class="min-h-screen w-full bg-slate-50 dark:bg-black relative">
  <div
    class="flex flex-col w-full px-6 sm:px-0 mx-auto space-y-4 items-start sm:w-9/12 lg:flex-row sm:justify-between sm:items-center lg:space-y-0 pt-16"
  >
    <form class="w-11/12 lg:w-3/5">
      <label
        for="default-search"
        class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white"
        >Search</label
      >
      <div class="relative">
        <div
          class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
        >
          <svg
            aria-hidden="true"
            class="w-5 h-5 text-gray-500 dark:text-gray-400"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
            ></path>
          </svg>
        </div>
        <input
          [(ngModel)]="searchString"
          (keyup)="searchStr()"
          type="search"
          id="default-search"
          class="block w-full py-4 text-md text-gray-900 border border-gray-300 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 rounded-2xl px-12"
          placeholder="Movie or Cast"
          name="search-input"
          required
        />
      </div>
    </form>

    <form class="flex gap-4 items-center flex-wrap">
      <button
        type="button"
        (click)="fetchType('TV Show')"
        [ngClass]="{
          'bg-black text-white dark:bg-slate-300 dark:text-zinc-700':
            type === 'TV Show'
        }"
        class="text-white border border-gray-300 focus:outline-none focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:border-gray-600 dark:focus:ring-gray-700"
      >
        TV Shows
      </button>
      <button
        type="button"
        (click)="fetchType('Movie')"
        [ngClass]="{
          'bg-black text-white dark:bg-slate-300 dark:text-zinc-700':
            type === 'Movie'
        }"
        class="text-white border border-gray-300 focus:outline-none focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:border-gray-600 dark:focus:ring-gray-700"
      >
        Movies
      </button>
      <button
        type="button"
        (click)="fetchType('')"
        [ngClass]="{
          'bg-black text-white dark:bg-slate-300 dark:text-zinc-700':
            type === ''
        }"
        class="text-white border border-gray-300 focus:outline-none focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:border-gray-600 dark:focus:ring-gray-700"
      >
        All
      </button>
    </form>
  </div>
  <div
    class="flex flex-col w-full sm:w-9/12 mx-auto text-center gap-4 mt-2 md:mt-8 pt-20 pb-28 md:pt-20 md:pb-20 px-2 md:px-0"
  >
    <p
      class="text-md sm:text-lg text-zinc-700 dark:text-white"
      *ngIf="data.length === 0"
    >
      Sorry! No Result Found!
    </p>
    <div
      routerLink="/home/{{ item.show_id }}"
      *ngFor="
        let item of data
          | paginate
            : { itemsPerPage: 15, currentPage: p, totalItems: totalDocument }
      "
      class="py-6 px-8 flex justify-between border-[0.025rem] border-dashed border-slate-300 dark:border-zinc-700 rounded-lg hover:bg-slate-50 dark:hover:bg-zinc-900 cursor-pointer"
    >
      <div class="flex flex-col space-y-3 items-start w-80">
        <p class="text-sm sm:text-lg text-zinc-700 dark:text-white text-left">
          {{ item.title }}
        </p>
        <p class="text-md text-zinc-700 dark:text-white">
          {{ formatDate(item.date_added) }}
        </p>
      </div>
      <div
        class="flex-col space-3 items-start hidden sm:flex text-zinc-700 dark:text-white"
      >
        <h2>Duration:</h2>
        <p>{{ item.duration }}</p>
      </div>

      <div class="flex flex-col space-y-3 text-zinc-700 dark:text-white w-60">
        <p class="text-sm sm:text-md">Directed by:</p>
        <p class="font-semibold text-sm sm:text-lg">
          {{ item.director || "No records" }}
        </p>
      </div>
    </div>
  </div>

  <div class="absolute bottom-0 w-full text-center">
    <div class="w-full py-2 dark:bg-gray-600 text-md mt-6 pt-8">
      <pagination-controls
        (click)="pageChange(p)"
        (pageChange)="p = $event"
        previousLabel="Previous"
        nextLabel="Next"
        screenReaderCurrentLabel="You're on page"
      ></pagination-controls>
    </div>
  </div>
</div>
